name: betel120dflux

#on: [push]

#on:
#  schedule:
#    - cron: '00 19 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        pip install twython numpy bs4 wotan matplotlib requests astropy
    - name: betel
      env:
        consumer_key: ${{ secrets.consumer_key }}
        consumer_secret: ${{ secrets.consumer_secret }}
        access_token: ${{ secrets.access_token }}
        access_token_secret: ${{ secrets.access_token_secret }}
      run: |
        python betel120d_flux.py
    - name: Commit files
      run: |
        git config --local user.email ${{ secrets.SECRET_MAIL_FROM }}
        git config --local user.name ${{ secrets.SECRET_GITHUB_USERNAME }}
        git add .
        git add --all
        # git commit -m "Add changes" -a
        git diff --quiet && git diff --staged --quiet || git commit -am 'Add changes'
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.SECRET_GITHUB_TOKEN }}
